*{
	box-sizing:border-box;
}
.d-flex{
	display:flex;
}
.justify-center{
	justify-content:center;
	align-items:center;
}
.btn-delete,.btn-alias,.btn-default{
  cursor: pointer;
}
.btn-delete{
	color:#DB2564;
}
.btn-delete:hover{
	color:rgba(242,29,210,0.7) !important;
}
.btn-default,.btn-alias{
	color:#7E84DE;
}
tbody .btn-default:hover,tbody .btn-alias:hover{
	color:rgba(126,132,222,0.5) !important;
}
.swal2-input{
	width:auto !important;
}
.relation-bg{
	position:fixed !important;
	top:0;
	left:0;
	width:100%;
	height:100vh;
	background-color:rgba(0,0,0,0.5);
	z-index:99;
}