.creditcard-row .column .box {
  /*margin: 0 2.5%;*/
  padding: 20px 15px 20px 70px;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
  position: relative;
  font-size: 0.875rem;
  border: 1px solid #ddd;
}

.creditcard-row .column .box .creditcard-icon {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 15px;
  font-size: 40px;
  color: #999999;
}

.creditcard-row .column .box h4 {
  font-weight: 600;
  font-size: 1rem;
  color: #000;
  margin-bottom: 0em;
}

.creditcard-row .column .box .info {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* padding: 10px 0; */
  padding-bottom: 10px;
  margin-bottom: 10px;
  color: #999999;
}

.creditcard-row .column .box ul li {
  line-height: 1.2rem;
}

.creditcard-row .column .box .link {
  text-align: right;
  margin-top: 35px;
}

.creditcard-row .column .box .link a {
  color: #999999;
  margin: 0 5px;
}

.creditcard-row .column .box .link a:hover {
  color: #2883C1;
}

.creditcard-row .column .box.activity {
  border-color: #49A2DE;
  background-color: #f2f9ff;
}

.creditcard-row .column .box.activity .creditcard-icon {
  color: #49A2DE;
}

.creditcard-row .column .box.activity .link a {
  color: #49A2DE;
}

.creditcard-row .column .box.activity .link a:hover {
  color: #2883C1;
}

.creditcard-row .column .box .close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #999999;
  font-size: 18px;
  text-align: end;
}

.creditcard-row .column .box .close:hover {
  color: #2883C1;
}
input.btn{
	border-radius: 5px;
}
h3{
	color: #000;
	/* font-size: 1.5rem; */
}